*
!/.circleci/
!/.circleci/**
!/.gitattributes
!/.gitignore
!/.nvmrc
!/assets/
!/assets/**
!/infra/
!/infra/**
!/package.json
!/public/
!/public/**
!/README.md
!/scripts/
!/scripts/**
!/src/
!/src/**
!/uml/
!/uml/**
!/yarn.lock
